<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="../dashboard.html">DASH</a>
    <a href="./login.ejs">LOGIN</a>
    <a href="./signup.ejs">SIGNUP</a>
    
</body>
</html>

