<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../login.css">
</head>

<body>
    <form action="/signup" method="post">
        <div id="container">
            <h1 id="heading" style="color:RED">Welcome to signup page</h1>
            <div id="login-form">
                <input type="text" name="uname" id="uname" required>
                <input type="password" name="pass" id="pass" required>
                <input type="submit" value="signup" id="btn" required>
            </div>
            <a href="./login.ejs">login</a>
        </div>
    </form>
</body>

</html>